
.selector-for-some-widget {
    box-sizing: content-box;
}

/* top spacing of h5 */
.top-spacing__h5 h5{
    margin-top: 20px;
}


/* website shopping cart */
.my-cart{
    position: relative;
}

.cart-number{
    position: absolute;
    bottom: 10px; 
    width: 20px; 
    left: 15px;
}

/* Footer */
.text-decoration li{
    height: 40px;
}
.text-decoration li a{
    text-decoration: none;
    color: white;
}

.text-decoration li a:hover{
    display: block;
    color: blue;
    margin-left: 10px;
}

/* facebook, twiter, google */
.text-decoration-icon li{
    display: inline-table;
    width: 45px;
    height: 30px;
    line-height: 30px;
    background-color: white;
    text-align: center;
    border-radius: 30%;
}


.text-decoration-icon li a:hover{
    background-color: blue;
    color: white;
    display: block;
}

/* Create start */
div.stars {
    width: 270px;
    display: inline-block;
  }
   
input.star { display: none;}
   
label.star {
    float: left;
    padding: 1px;
    font-size: 12px;
    color: #444;
    transition: all .2s;
    margin-top: 5px;
}
   
/* input.star:checked ~ label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
} */
   
/* input.star-5:checked ~ label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px #952;
} */
   
/* input.star-1:checked ~ label.star:before { color: #F62; } */
   
/* label.star:hover { transform: rotate(-15deg) scale(1.3); } */
   
label.star:before {
    content: '\f006';
    font-family: FontAwesome;
}

/* Inline title product new */

.inline-product__new{
    display: inline;
}

/* Product details */

.product-details p{
    display: inline-table;
}

.product-details p:last-child{
    font-size: 25px;
    margin-left: 10px;
}

.favourite{
    background-color: tomato; 
    color: white; 
    width: 70px; 
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
}

/* sale */
.sale-of{
    background-color: #f1f3f6;
    height: 60px;
    padding-left: 20px;
}

.sale-of p{
    display: inline-table;
}

.current-price{
    font-size: 35px;
    color: tomato;
}

.bg{ /* background color of sale*/
    background-color: tomato;
    margin-left: 10px;
}

/* Transport */
.transport{
    padding: 20px;
    position: relative;
}

.transport p{
    display: inline-table;
}

.car-free{
    font-size: 25px;
    color: rgb(5, 182, 173);
    margin-left: 40px;
}

.transport-free{
    position: absolute;
    color: white;
    font-size: 11px;
    top: 24px;
    left: 154px;
}

.transpost-to{
    margin-left: 125px;
}

/* size shirt */
.size-shirt {
    padding-left: 20px;
}

.size-shirt p{
    display: inline-table;
}

.range-size{
    margin-left: 70px;
}

.border-size{
    width: 50px;
    text-align: center;
}

.border-size:hover{
    border: 2px solid red;
}

/* Insert cart */
.range-insert{
    margin-left: 145px;
}

.height-insert{
    height: 50px;
    width: 200px;
}

.hover-insert:hover{
    border: 2px solid red;
}

/* Quantity */
.quantity{
    padding: 20px;
}

.inline_table-quantity{
    display: inline-table;
}

.range-quantity{
    margin-left: 55px;
}

.text-quantity{
    width: 40px;
    text-align: center;
}

/* product details table */
.bg-product_details, .bg-product_description{
    margin-top: 30px;
    background-color: rgb(243, 247, 247);
}

table tr td{
    
    height: 40px;
}

table tr td:last-child{
    width: 500px;
    padding-left: 40px;
}